if pagesCount > 1
  - path = path || '/';
  ul(class='pagination pagination--visible')
    if pageNumber === 1
      li(class='pagination__item pagination__item--disabled')
        span «
    else
      li(class='pagination__item')
        a(href=`${path}${pageNumber - 1}`) «
    if pageNumber > 5
      li(class='pagination__item')
        a(href=`${path}1`) 1
      li(class='pagination__item')
        a(href=`${path}2`) 2
      li(class='pagination__item pagination__item--disabled')
        span ..
        li(class='pagination__item')
          a(href=`${path}${pageNumber - 2}`) #{pageNumber - 2}
        li(class='pagination__item')
          a(href=`${path}${pageNumber - 1}`) #{pageNumber - 1}
    else
      - var i = 1;
      while i < pageNumber
        li(class='pagination__item')
          a(href=`${path}${i}`) #{i++}
    li(class='pagination__item pagination__item--active')
      span #{pageNumber}
    if pagesCount - pageNumber > 4
      li(class='pagination__item')
        a(href=`${path}${pageNumber + 1}`) #{pageNumber + 1}
      li(class='pagination__item')
        a(href=`${path}${pageNumber + 2}`) #{pageNumber + 2}
      li(class='pagination__item pagination__item--disabled')
        span ..
      li(class='pagination__item')
        a(href=`${path}${pagesCount - 1}`) #{pagesCount - 1}
      li(class='pagination__item')
        a(href=`${path}${pagesCount}`) #{pagesCount}
    else
      - var j = pageNumber + 1;
      while j <= pagesCount
        li(class='pagination__item')
          a(href=`${path}${j}`) #{j++}     
    if pageNumber === pagesCount
      li(class='pagination__item pagination__item--disabled')
        span »
    else
      li(class='pagination__item')
        a(href=`${path}${pageNumber + 1}`) »

